[submodule "dotfiles/zsh/antigen"]
	path = dotfiles/zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "files/base16-xresources"]
	path = files/base16-xresources
	url = https://github.com/chriskempson/base16-xresources.git
[submodule "dotfiles/bin/bin/base16-shell"]
	path = dotfiles/bin/bin/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "dotfiles/git/gitsubmodule"]
	path = dotfiles/git/gitsubmodule
	url = https://github.com/artmees/gitsubmodule.git
