* {
  border: none;
  border-radius: 0;
  font-family: "RobotoMono Nerd Font";
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: #{{@@ plata_dark @@}};
  color: #{{@@ color_white @@}};
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #{{@@ color_black @@}};
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #{{@@ plata_dark @@}};
  background: #{{@@ color_black @@}};
}

#workspaces,
#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-redshift,
#network {
  padding: 0 10px;
  background: #{{@@ color_black @@}};
}

#workspaces button {
  padding: 0 2px;
  color: #{{@@ color_white @@}};
}
#workspaces button.focused {
  color: #{{@@ color_blue @@}};
}
#workspaces button:hover {
  color: #{{@@ color_green @@}};
  background: #{{@@ color_black @@}};
  border: #{{@@ color_black @@}};
}

#pulseaudio {
  color: #{{@@ color_cyan @@}};
}
#custom-redshift {
  color: #{{@@ color_blue @@}};
}
#backlight {
  color: #{{@@ color_magenta @@}};
}
#battery {
  color: #{{@@ color_yellow @@}};
}
#cpu {
  color: #{{@@ color_green @@}};
}
