/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

 @keyframes blink-warning {
  70% {
      color: @light;
  }

  to {
      color: @light;
      background-color: @warning;
  }
}

@keyframes blink-critical {
  70% {
    color: @light;
  }

  to {
      color: @light;
      background-color: @critical;
  }
}


/* -----------------------------------------------------------------------------
* Styles
* -------------------------------------------------------------------------- */

/* COLORS */

@define-color light #{{@@ color_fg @@}};
@define-color dark #{{@@ color_bg @@}};
@define-color warning #{{@@ color_blue_bright @@}};
@define-color critical #{{@@ color_red @@}};
@define-color mode #{{@@ color_magenta @@}};
@define-color workspaces #{{@@ color_black @@}};
@define-color workspacesfocused #{{@@ color_blue @@}};
@define-color network #{{@@ color_green @@}};
@define-color sound #{{@@ color_magenta @@}};
@define-color battery #{{@@ color_cyan_bright @@}};
@define-color backlight #{{@@ color_yellow @@}};
@define-color date #{{@@ color_black @@}};
@define-color time #{{@@ color_white @@}};

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: @light;
  font-family: Cozette;
  font-size: 13px;
}

/* Each module */
#battery,
#clock,
#mode,
#network,
#pulseaudio,
#backlight,
#tray {
  padding-left: 10px;
  padding-right: 10px;
}

/* Each module that should blink */
#mode,
#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Each critical module */
#battery.critical {
  color: @critical;
}

/* Each critical that should blink */
#mode,
#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#battery.warning {
  color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
  animation-name: blink-warning;
  animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
color: @light;
background: @mode;
}

/* Workspaces stuff */
#workspaces button {
padding-left: 5px;
padding-right: 5px;
color: @light;
background: @workspaces;
}

#workspaces button.focused {
  background: @workspacesfocused;
  color: @dark
}

#window {
  margin-right: 40px;
  margin-left: 40px;
}

#backlight {
  background: @backlight;
  color: @dark;
}

#network {
  background: @network;
  color: @dark;
}

#battery {
  background: @battery;
  color: @dark;
}

#tray {
  background: @date;
}

#clock.date {
  background: @date;
  color: @light;
}

#clock.time {
  background: @time;
  color: @dark;
}

#pulseaudio {
  background: @sound;
  color: @dark
}

#pulseaudio.muted {
  /* No styles */
}