[Desktop Entry]
Version=1.0
Type=Application
Name=Insync
GenericName=Insync
Comment=Launch Insync
Icon=insync
Categories=Network;
Exec=env QT_QPA_PLATFORMTHEME=gtk2 QT_QPA_PLATFORM=xcb insync start
TryExec=insync
Terminal=false
